{% extends 'base.html' %}

{% block title %}Редактирование{% endblock %}

{% block content %}
    <h2>Редактировать бухгалтерский счет</h2>
    <form method="post" action="{% url 'bs_form_edit' bs_id %}">
    {% csrf_token %}
    {{ bs_form.as_p }}
    <button type="submit">Сохранить</button>
    </form>
    {% if perms.WebApp.delete_bs %}
    <form method="post" action="{% url 'bs_form_del' bs_id %}">
    {% csrf_token %}
    <button type="submit">Удалить</button>
    </form>
    {% endif %}
{% endblock %}