div.head{
    background-color: #00008B;
    display:block;
    height: 155px;
}

h2.center{
    color: white;
    font-family: fantasy;
    position: absolute;
    left: 21%;
    top: 6%;

}


img.icon{
    background-color: rgb(151, 228, 209);
    position: absolute;
    width: 155px;
    height: 90px;
    left: 10%;
    top: 10px;
}

nav{
    position: relative;
    top:1px;
}
div.tab-content{
    position: relative;
    top: 20px;
}

#companies{
    position: relative;
    width: 1300px;
    left: 50px;
}

#nk{
    position: relative;
    width: 1300px;
    left: 50px;
}

#banki{
    position: relative;
    width: 1300px;
    left: 50px;
}

#workers{
    position: relative;
    left: 430px;

}

footer{
    background-color: #00008B;
    }

    .contacts{
        position: relative;
        left:30px;
        color: white;

    }
    a.phone{
        color: white;
    }
    a.mail{
        color: white;
    }

    .copyright {
    font-size:large ;
    width: 740px; /* Ширина макета без полей */
    padding: 0 0 10px; /* Поля */
    margin: auto; /* Выравнивание по центру */
    color: white; /* Цвет текста */
    }
    .copyright p {
        margin: 0 0 0 170px; /* Отступы текста */
    }



